/*

	NTU ID Creator by h999342@gmail.com
	Originated From the Following Project

	Introduction to Computers, Lab
	Fall 2013, Dept. of Information Management, National Taiwan University

	Week 6 Assignment

	TAs: Chien-Husn Tseng and Jero Yu
	Student: b02705020 虞翔皓

*/


div {
	margin: 0px auto;
}

#fblogin {
	margin: 0 auto;
	text-align: center;
}

.creator-form {
	width: 430px;
	font-family: Arial;
	position: relative;
}

.creator-form h1 {
	color: brown;
	text-align: center;
}

.go-button {
	position: absolute;
	right: 10%;
	bottom: 20%;
	font-size: 30px;
	color: blue;
}

.post-button {
	font-size: 30px;
	color: blue;
}

#post2fb {
	margin-top: 20px;
	text-align: center;
}

#id-outline {
	width: 430px;
	height: 270px;
	position: relative;
	background: url('ntuid-background.png');
}

#owner-photo{
	width: 110px;
	float: right;
	margin-right: 25px;
	padding-top: 80px;
}

.owner-info {
	/* 不要讓 li 前面的 bullet point 出現 */
	list-style-type: none;
	padding-top: 90px;
	/* Mac 下的標楷體叫做 BiauKai */
	font-family: “標楷體”, DFKai-sb, BiauKai;
	font-size: 1.07em;
	line-height: 1.22em;
}

#canvas-container {
	margin-top: 30px;
	text-align: center;
}

#watermark {
	margin-top: 40px;
	margin-right: 7px;
	float: right;
	font-size: 13px;
	font-family: Arial;
	color: orange;
}

#footer {
	margin-top: 30px;
	text-align: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#og-display-container {
	text-align:center
}
